{% extends 'member/index.twig' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>{{ title }}</h1>
	</section>

	<!-- Main content -->
	<section class="content">
		{% if flash.message %}
		{% if flash.message_status == true %}
		<div class="alert alert-success alert-dismissable" style="margin-top: 25px">
			{% else %}
			<div class="alert alert-danger alert-dismissable" style="margin-top: 25px">
				{% endif %}
				<button aria-hidden="true" data-dismiss="alert" class="close" type="button">
					×
				</button>
				{{ flash.message }}
			</div>
			{% endif %}
			<div class="box box-warning">
				<div class="box-body">
					<form method="post" action="{{ urlFor('user_account_activation')}}" role="form">
						<input type="hidden" name="form_secret" id="form_secret" value="{{ form_secret }}" />
						<input type="hidden" class="form-control" name="member_profile_id" value="{{member_id}}"/>
						<input type="hidden" class="form-control" name="user_id" value="{{user.id}}"/>
						<div class="form-group">
							<label>Activation Code</label>
							<input type="text" class="form-control" name="activation_code" value="{{ flash.act_code }}" required/>
						</div>
						<br>
						<div class="form-group">
							<label>Sponsor Name</label>
							<input type="text" class="form-control" name="sponsor_username" />
						</div>

						<div class="form-group">
							<label>Placement Head Username</label>
							<input type="text" class="form-control" name="placement_head_username" />
						</div>

						<div class="form-group">
							<label>Select Placement</label>
							<select class="form-control" name="placement">
								<option selected>none</option>
								<option>Left</option>
								<option>Right</option>
							</select>
						</div>
						<button class="btn btn-block btn-primary" type="submit">
							Submit
						</button>
					</form>
					<!-- END OF FORM -->
				</div><!-- /.box-body -->
			</div><!-- /.box -->
	</section><!-- /.content -->
	{% endblock %}
