<ul class="pull-right h-menu">
	<li class="hm-search-trigger">
		<a href="#" data-ma-action="search-open"> <i class="hm-icon zmdi zmdi-search"></i> </a>
	</li>
	<li class="dropdown hm-profile">
		<a data-toggle="dropdown" href="#"> <img src="{{baseUrl()}}/assets/images/avatar/{{ user.avatar }}" alt=""> </a>

		<ul class="dropdown-menu pull-right dm-icon">
			{% if (user.user_type == 2) %}
			<li>
				<a href="/member/purchase/activation_code"><i class="zmdi zmdi-money-box zmdi-hc-fw"></i> Purchase Activation Code</a>
			</li>
			{% endif %}
			<li>
				<a href="/profile/{{ user.id }}"><i class="zmdi zmdi-account"></i> View Profile</a>
			</li>
			<li>
				<a href="{{ urlFor('logout') }}"><i class="zmdi zmdi-time-restore"></i> Logout</a>
			</li>
		</ul>
	</li>
</ul>