<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->

<!-- Mirrored from byrushan.com/projects/mae/1-0/form-components.html by HTTrack Website Copier/3.x [XR&CO'2013], Wed, 30 Nov 2016 10:57:54 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="{{assetUrl}}img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{assetUrl}}img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{assetUrl}}img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{assetUrl}}img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{assetUrl}}img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{assetUrl}}img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{assetUrl}}img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{assetUrl}}img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{assetUrl}}img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{assetUrl}}img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{assetUrl}}img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{assetUrl}}img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{{assetUrl}}img/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- Vendor CSS -->
	<link href="{{assetUrl}}vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/google-material-color/dist/palette.css" rel="stylesheet">

	<link href="{{assetUrl}}vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/nouislider/distribute/jquery.nouislider.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/farbtastic/farbtastic.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/chosen/chosen.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/summernote/dist/summernote.css" rel="stylesheet">

	<!-- CSS -->
	<link href="{{assetUrl}}css/app.min.1.css" rel="stylesheet">
	<link href="{{assetUrl}}css/app.min.2.css" rel="stylesheet">
	<link href="{{assetUrl}}css/custom.css" rel="stylesheet">

	<!-- Following CSS are used only for the Demp purposes thus you can remove this anytime. -->
	<style type="text/css">
		.toggle-switch .ts-label {
			min-width: 130px;
		}
	</style>

	<link href="{{assetUrl}}css/newbinarytree.css" rel="stylesheet">
	<style>
		.star-cont img {
			width: 100%;
		}

		.star-cont h3 {
			text-align: center;
			color: #FCE7AE;
		}

		.legend-cont {
			color: #FCE7AE;
			margin-top: 12px;
			background: black;
			padding: 12px 12px;
			background: rgb(34, 45, 50);
		}

		.legend-cont .col-xs-4 {
			text-align: center;
		}

		/* centered columns styles */
		.row-centered {
			text-align: center;
		}
		.col-centered {
			display: inline-block !important;
			float: none !important;
			/* reset the text-align */
			text-align: left;
			/* inline-block space fix */
			margin-right: -4px;
		}

		.tree li a {
			height: auto;
		}

		.geneology-label {
			width: 100px;
			height: auto;
			font-weight: bold;
			font-size: 14px;
			color: #009688;
			display: block;
			margin: 0 auto;
		}
	</style>
</head>

<body data-ma-header="teal">
	<header id="header" class="media">
		<div class="pull-left h-logo">
			<a href="/member" class="hidden-xs"> <img src="{{assetUrl}}img/upnextlogo.png"  style="max-width: 250px; max-width: auto; margin-left: -33px; margin-top: -23px;"/> </a>
		</div>

		{% include 'avatar_menu.twig' %}

		<div class="media-body h-search">
			<form class="p-relative">
				<input type="text" class="hs-input" name="search_bar" placeholder="Search member, enter username....">
				<i class="zmdi zmdi-search hs-reset" data-ma-action="search-clear"></i>
			</form>
		</div>
	</header>

	<section id="main">
		<section id="content">
			<div class="container">
				<div class="c-header">
					<h2>Account Activation</h2>
				</div>

				{% if flash.message %}
				{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
				<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					{{ flash.message }}
				</div>
				{% endif %}

				<div class="card">
					<div class="card-header">
						<h3>Activation Code <small>Set your activation code and Direct Referral.</small></h3>
						<p>
							<a href="/member/purchase/history/view">View Purchase Code</a>
						</p>
						{% if (user.is_registered == 1) %}
						<p>
							<a href="/member">Back to matrix table</a>
						</p>
						{% endif %}
					</div>

					<div class="card-body card-padding">
						<form method="post" action="{{ urlFor('register_geneology') }}">
							<input type="hidden" name="position" />
							<input type="hidden" name="head_ref_code" />
							<div class="row">
								<div class="col-sm-6 m-b-20">
									<div class="form-group fg-line">
										<label>Activation Code</label>
										<input type="text" class="form-control input-mask" name="activation_code" placeholder="enter your activation code here..." required>
									</div>
								</div>

								<div class="col-sm-6 m-b-20">
									<div class="form-group fg-line">
										<label>Direct Referral</label>
										<input type="text" class="form-control input-mask" name="direct_referral" placeholder="enter your direct referral username here..." required>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-6 m-b-20">
									<div class="form-group fg-line">
										<label>Position</label>
										<h3 id="position-label">N/A</h3>
									</div>
								</div>
								<div class="col-sm-6 m-b-20">
									<button type="submit" id="btn-continue" class="btn btn-primary waves-effect" disabled="disabled">
										Continue
									</button>
								</div>
							</div>
						</form>

						<div class="row">
							<div class="tree"></div><!-- end geneology tree -->
						</div>
					</div>
				</div>
			</div>
		</section>

		<footer id="footer">
			Copyright &copy; 2016 UpNext - Trading
		</footer>
	</section>

	<!-- Page Loader -->
	<div class="page-loader palette-Teal bg">
		<div class="preloader pl-xl pls-white">
			<svg class="pl-circular" viewBox="25 25 50 50">
				<circle class="plc-path" cx="50" cy="50" r="20"/>
			</svg>
		</div>
	</div>

	<!-- Javascript Libraries -->
	<script src="{{assetUrl}}vendors/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="{{assetUrl}}vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/Waves/dist/waves.min.js"></script>
	<script src="{{assetUrl}}vendors/bootstrap-growl/bootstrap-growl.min.js"></script>

	<script src="{{assetUrl}}vendors/bower_components/moment/min/moment.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/nouislider/distribute/jquery.nouislider.all.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
	<script src="{{assetUrl}}vendors/summernote/dist/summernote-updated.min.js"></script>

	<!-- Placeholder for IE9 -->
	<!--[if IE 9 ]>
	<script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
	<![endif]-->

	<script src="{{assetUrl}}vendors/bower_components/chosen/chosen.jquery.min.js"></script>
	<script src="{{assetUrl}}vendors/fileinput/fileinput.min.js"></script>
	<script src="{{assetUrl}}vendors/input-mask/input-mask.min.js"></script>
	<script src="{{assetUrl}}vendors/farbtastic/farbtastic.min.js"></script>

	<script src="{{assetUrl}}js/functions.js"></script>
	<script src="{{assetUrl}}js/actions.js"></script>
	<script src="{{assetUrl}}js/demo.js"></script>
	<script src="{{assetUrl}}js/geneology.js"></script>
	<script>
		$(document).ready(function() {
			loadGeneology("{{dynamic_user}}", 1, function(response) {
				// console.log(response);
				$("#position-label").text(response.position + " of " + response.head_username);
				$("[name=position]").val(response.position);
				$("[name=head_ref_code]").val(response.head_ref_code);
				$("#btn-continue").removeAttr("disabled");
			}, function(data) {
				// console.log(data);
			});
		});

		$("[name=search_bar]").keyup(function() {
			$.get("/api/validate/dr/" + this.value, function(response) {
				// console.log(response);
				if (response.status === "success") {
					loadGeneology(response.user.id, 1, function(response) {
						// console.log(response);
						$("#position-label").text(response.position + " of " + response.head_username);
						$("[name=position]").val(response.position);
						$("[name=head_ref_code]").val(response.head_ref_code);
						$("#btn-continue").removeAttr("disabled");
					}, function(data) {
						// console.log(data);
					});
				} else {
					// $(".tree").empty();
					$("#position-label").text("");
					$("#btn-continue").attr("disabled", true);
				}
			}).fail(function(error) {
				console.log(error);
			});
		});
	</script>

</body>
</html>