<!-- Modal Large -->
<div class="modal fade" id="modalWider" tabindex="-1" role="dialog"
aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Add Member</h4>
			</div>
			<form action="{{ urlFor('addNewMember') }}" method="post">
				<div class="modal-body">
					<input type="hidden" name="head_ref_code" />
					<input type="hidden" name="head_username" />
					<input type="hidden" name="position" />

					<div class="row">
						<div class="col-sm-12">
							<div class="input-group">
								<span class="input-group-addon"><i
									class="zmdi zmdi-lock-open zmdi-hc-fw"></i></span>
								<div class="fg-line">
									<input type="text" required name="activation_code" class="form-control" placeholder="Activation Code" autofocus>
								</div>
							</div>

							<br />

							<div class="input-group">
								<span class="input-group-addon"><i
									class="zmdi zmdi-accounts-add zmdi-hc-fw"></i></span>
								<div class="fg-line">
									<input type="text" required name="direct_referral" class="form-control" placeholder="Sponsor/Direct referral username">
								</div>
							</div>

							<br />

							<div class="input-group">
								<span class="input-group-addon"><i
									class="zmdi zmdi-assignment-account zmdi-hc-fw"></i></span>
								<div class="fg-line">
									<input type="text" required name="username" class="form-control" placeholder="Username">
								</div>
							</div>

							<br />

							<div class="input-group">
								<span class="input-group-addon"><i
									class="zmdi zmdi-email"></i></span>
								<div class="fg-line">
									<input type="text" required name="email" class="form-control" placeholder="Email Address">
								</div>
							</div>

							<br />

							<div class="input-group">
								<span class="input-group-addon"><i
									class="zmdi zmdi-account"></i></span>
								<div class="fg-line">
									<input type="text" required name="full_name" class="form-control" placeholder="Full Name">
								</div>
							</div>

							<br />

							<div class="input-group">
								<span class="input-group-addon"><i
									class="zmdi zmdi-accounts-alt zmdi-hc-fw"></i></span>
								<div class="fg-line">
									<input type="text" id="head_label" class="form-control" title="Head" disabled>
								</div>
							</div>

							<br />

							<div class="input-group">
								<span class="input-group-addon"><i
									class="zmdi zmdi-device-hub zmdi-hc-fw"></i></span>
								<div class="fg-line">
									<input type="text" id="position_label" class="form-control" title="Position" disabled>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-link">
						Save Member
					</button>
					<button type="button" class="btn btn-link" data-dismiss="modal">
						Close
					</button>
				</div>
			</form>
		</div>
	</div>
</div>