<!DOCTYPE html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta charset="utf-8" />
<title>{{ title }}</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta content="" name="description" />
<meta content="" name="author" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<link rel="apple-touch-icon" sizes="57x57"
	href="{{assetUrl}}img/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60"
	href="{{assetUrl}}img/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72"
	href="{{assetUrl}}img/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76"
	href="{{assetUrl}}img/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114"
	href="{{assetUrl}}img/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120"
	href="{{assetUrl}}img/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144"
	href="{{assetUrl}}img/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152"
	href="{{assetUrl}}img/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180"
	href="{{assetUrl}}img/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"
	href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32"
	href="{{assetUrl}}img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96"
	href="{{assetUrl}}img/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16"
	href="{{assetUrl}}img/favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage"
	content="{{assetUrl}}img/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- For iPad Retina display -->
<link
	href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
	rel="stylesheet">
<!-- Include registered css -->
{% for cssfile in css.external %}
<link rel="stylesheet" href="{{cssfile}}" />
{% endfor %} {% for cssfile in css.internal %}
<link rel="stylesheet" href="{{assetUrl}}css/{{cssfile}}" />
{% endfor %}
<link rel="stylesheet" href="{{assetUrl}}css/login-view.css">

</head>
<body>

	<div class="panel-wrapper">

		<div class="feature-panel feature-panel-login">
			<div class="login-panel-content">
				<h1 class="main-panel-heading">
					Welcome to Upnext Online Shop <small class="main-panel-subheading">
						Enter your details below. </small>
				</h1>
				<form name="loginform" id="loginform"
					method="post" action="{{ urlFor('do_login') }}">

					{% if flash.message %} {% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
					<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						{{ flash.message }}
					</div>
					{% endif %}

					<div class="form-group">
						<label for="v" class="form-label">Username</label> <input
							type="text" name="username" id="c" class="form-input"
							placeholder="" value="">
					</div>

					<div class="form-group">
						<label for="password" class="form-label">Password</label> <input
							id="password" type="password" class="form-input" name="password"
							placeholder="">
						<!-- <a href="#" class="form-help">Forgot password?</a> -->
					</div>
					
					<a class="palette-Teal text d-block m-b-5" href="/registration">Creat an account</a>

					<div class="text-center">
						<button type="submit" name="wp-submit"
							class="form-button login-button btn-primary dim">Sign in</button>
					</div>

				</form>

			</div>
		</div>

		<div class="main-panel">

			<div class="main-panel-table">
				<div class="main-panel-table-cell main-panel-login">
				</div>
			</div>

		</div>
	</div>
	
	<!-- Javascript Libraries -->
	<script src="{{assetUrl}}vendors/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="{{assetUrl}}vendors/bower_components/Waves/dist/waves.min.js"></script>
	
	<script src="{{assetUrl}}js/backstrectch.js"></script>
	<script>
		// To attach Backstrech as the body's background
		$(".main-panel-login").backstretch(
				[ "{{assetUrl}}images/login/image1.png",
						"{{assetUrl}}images/login/image2.png",
						"{{assetUrl}}images/login/image3.png" ], {
					duration : 10000
				});
	</script>

</body>
</html>
