<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->

<!-- Mirrored from byrushan.com/projects/mae/1-0/form-components.html by HTTrack Website Copier/3.x [XR&CO'2013], Wed, 30 Nov 2016 10:57:54 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="{{assetUrl}}img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{assetUrl}}img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{assetUrl}}img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{assetUrl}}img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{assetUrl}}img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{assetUrl}}img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{assetUrl}}img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{assetUrl}}img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{assetUrl}}img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{assetUrl}}img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{assetUrl}}img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{assetUrl}}img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{{assetUrl}}img/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- Vendor CSS -->
	<link href="{{assetUrl}}vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/google-material-color/dist/palette.css" rel="stylesheet">

	<link href="{{assetUrl}}vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/nouislider/distribute/jquery.nouislider.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/farbtastic/farbtastic.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/chosen/chosen.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/summernote/dist/summernote.css" rel="stylesheet">

	<!-- CSS -->
	<link href="{{assetUrl}}css/app.min.1.css" rel="stylesheet">
	<link href="{{assetUrl}}css/app.min.2.css" rel="stylesheet">
	<link href="{{assetUrl}}css/custom.css" rel="stylesheet">

	<!-- Following CSS are used only for the Demp purposes thus you can remove this anytime. -->
	<style type="text/css">
		.toggle-switch .ts-label {
			min-width: 130px;
		}
	</style>
</head>

<body data-ma-header="teal">
	<header id="header" class="media">
		<div class="pull-left h-logo">
			<a href="/member" class="hidden-xs"> <img src="{{assetUrl}}img/upnextlogo.png"  style="max-width: 250px; max-width: auto; margin-left: -33px; margin-top: -23px;"/> </a>
		</div>

		<!-- includes view of avatar -->
		{% include 'avatar_menu.twig' %}
	</header>

	<section id="main">
		<section id="content">
			<div class="container">
				<div class="c-header">
					<h2>Purchase Activation Code</h2>
				</div>

				{% if flash.message %}
				{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
				<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					{{ flash.message }}
				</div>
				{% endif %}

				<div class="card">
					<div class="card-header">
						<h1>₱ {{ membership_fee | number_format(2, '.', ',') }} <small>Membership Fee.</small></h1>
						<p>
							<a href="/member/purchase/history/view">View Purchase History</a>
						</p>
						{% if (not is_registered) %}
						<p>
							<a href="/member/register/geneology">Already has activation code</a>
						</p>
						{% endif %}
						{% if (is_registered) %}
						<p>
							<a href="/member">Back to matrix table</a>
						</p>
						{% endif %}
					</div>

					<div class="card-body card-padding">
						<div class="row">
							<div class="radio m-b-15">
								<label> <!-- cash payment method -->
									<input type="radio" name="rdo-method" checked>
									<i class="input-helper"></i> Bank Deposit </label>
							</div>

							<div class="card-body card-padding">
								<div class="row">
									<h4>Bank: <strong>Bank of the Philippine Island</strong></h4>
								</div>
								<div class="row">
									<h4>Account Name: <strong>Sample Account Name</strong></h4>
								</div>
								<div class="row">
									<h4>Account Number: <strong>Sample Account Number</strong></h4>
								</div>
							</div>

							<form method="post" action="{{ urlFor('cash_payment') }}" enctype="multipart/form-data">
								<div class="card-body card-padding">
									<div class="row">
										<div class="col-sm-6 m-b-20">
											<div class="row">
												<div class="col-sm-6 m-b-20">
													<div class="form-group fg-line">
														<label>Quantity (Activation Code)</label>
														<input type="number" step="1" class="form-control input-mask" name="quantity" value="1" required>
													</div>
												</div>
												<div class="col-sm-6 m-b-20">
													<div class="form-group fg-line">
														<label>Total Amount</label>
														<h3 id="cash-total-amount">₱ {{ membership_fee }}</h3>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-6 m-b-20">
											<div class="form-group fg-line">
												<label>Upload Payment Receipt</label>
												<input type="file" class="form-control input-mask" name="payment_proofs[]" required multiple>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-6 m-b-20">
											<div class="form-group fg-line">
												<label>Remarks</label>
												<textarea class="form-control auto-size" name="remarks" placeholder="enter remarks (optional)"></textarea>
											</div>
										</div>
										<div class="col-sm-6 m-b-20">
											<div class="form-group fg-line">
												<button class="btn palette-Teal bg waves-effect" type="submit">
													Send Request
												</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="row">
							<div class="radio m-b-15">
								<label> <!-- bitcoin payment method -->
									<input type="radio" name="rdo-method" value="2" disabled>
									<i class="input-helper"></i> Bitcoin Send Payment</label>
							</div>
							<h2>Not Available</h2>
							{#
							<div class="card-body card-padding">
								<div class="row">
									<div class="col-sm-6 m-b-20">
										<h1>1 BTC = ₱ <span id="btc_rate">0</span></h1>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6 m-b-20">
										<div class="form-group fg-line">
											<label>Your associated bitcoin(BTC) Wallet</label>
											<input type="text" class="form-control input-mask" value="{{ user.company_associated_wallet }}" disabled>
										</div>
									</div>
									<div class="col-sm-6 m-b-20">
										<div class="form-group fg-line">
											<label>Quantity (Activation Code)</label>
											<input type="number" step="1" class="form-control input-mask" name="quantity_btc" value="1" required>
										</div>
									</div>
									<div class="col-sm-6 m-b-20">
										<div class="form-group fg-line">
											<label>Activation Code amount in Peso</label>
											<input type="text" class="form-control input-mask" id="peso_amount_label" disabled required>
										</div>
									</div>
									<div class="col-sm-6 m-b-20">
										<div class="form-group fg-line">
											<label>Activation Code amount in Bitcoin</label>
											<input type="text" class="form-control input-mask" id="btc_amount_label" disabled required>
										</div>
									</div>
								</div>
							</div>
							#}
						</div>
					</div>
				</div>
			</div>
		</section>

		<footer id="footer">
			Copyright &copy; 2016 UpNext - Trading
		</footer>
	</section>

	<!-- Page Loader -->
	<div class="page-loader palette-Teal bg">
		<div class="preloader pl-xl pls-white">
			<svg class="pl-circular" viewBox="25 25 50 50">
				<circle class="plc-path" cx="50" cy="50" r="20"/>
			</svg>
		</div>
	</div>

	<!-- Javascript Libraries -->
	<script src="{{assetUrl}}vendors/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="{{assetUrl}}vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/Waves/dist/waves.min.js"></script>
	<script src="{{assetUrl}}vendors/bootstrap-growl/bootstrap-growl.min.js"></script>

	<script src="{{assetUrl}}vendors/bower_components/moment/min/moment.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/nouislider/distribute/jquery.nouislider.all.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
	<script src="{{assetUrl}}vendors/summernote/dist/summernote-updated.min.js"></script>

	<!-- Placeholder for IE9 -->
	<!--[if IE 9 ]>
	<script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
	<![endif]-->

	<script src="{{assetUrl}}vendors/bower_components/chosen/chosen.jquery.min.js"></script>
	<script src="{{assetUrl}}vendors/fileinput/fileinput.min.js"></script>
	<script src="{{assetUrl}}vendors/input-mask/input-mask.min.js"></script>
	<script src="{{assetUrl}}vendors/farbtastic/farbtastic.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/autosize/dist/autosize.min.js"></script>

	<script src="{{assetUrl}}js/functions.js"></script>
	<script src="{{assetUrl}}js/actions.js"></script>
	<script src="{{assetUrl}}js/demo.js"></script>
	<script src="{{assetUrl}}js/socket.io.2/node_modules/socket.io-client/socket.io.js"></script>
	<script>
		var btc_value = {};
		
		WORKERS_SOCKET = io.connect('{{baseUrl()}}:8888');
		WORKERS_SOCKET.on('current_bitcoin_rate', function(msg) {
			console.log(msg);
			btc_value = msg;
			$("#btc_rate").text(msg.bitcoin);
			updateBitcoinAmountLabel();
		});
	
		$("[name=quantity]").change(function() {
			var totalAmount = this.value * "{{ membership_fee }}";
			$("#cash-total-amount").text("₱ " + totalAmount);
		});
		
		$(document).on("input", "input[name=quantity_btc]", function(){
			updateBitcoinAmountLabel();
		});
		
		function updateBitcoinAmountLabel() {
			var input_count = $("input[name=quantity_btc]").val();
			var btc_amount = btc_value.bitcoin_rate;
			var total_amount = input_count * 1500;
			
			var bitcoin_amount = total_amount / btc_amount;
			console.log(bitcoin_amount.toFixed(8), total_amount);
			
			$("#peso_amount_label").val(total_amount);
			$("#btc_amount_label").val(bitcoin_amount.toFixed(8));
		}
	</script>

</body>
</html>