<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->

<!-- Mirrored from byrushan.com/projects/mae/1-0/form-components.html by HTTrack Website Copier/3.x [XR&CO'2013], Wed, 30 Nov 2016 10:57:54 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="{{assetUrl}}img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{assetUrl}}img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{assetUrl}}img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{assetUrl}}img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{assetUrl}}img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{assetUrl}}img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{assetUrl}}img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{assetUrl}}img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{assetUrl}}img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{assetUrl}}img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{assetUrl}}img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{assetUrl}}img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{{assetUrl}}img/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- Vendor CSS -->
	<link href="{{assetUrl}}vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/google-material-color/dist/palette.css" rel="stylesheet">

	<link href="{{assetUrl}}vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/nouislider/distribute/jquery.nouislider.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/farbtastic/farbtastic.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/chosen/chosen.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/summernote/dist/summernote.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bootgrid/jquery.bootgrid.min.css" rel="stylesheet">

	<!-- CSS -->
	<link href="{{assetUrl}}css/app.min.1.css" rel="stylesheet">
	<link href="{{assetUrl}}css/app.min.2.css" rel="stylesheet">
	<link href="{{assetUrl}}css/custom.css" rel="stylesheet">

	<!-- Following CSS are used only for the Demp purposes thus you can remove this anytime. -->
	<style type="text/css">
		.toggle-switch .ts-label {
			min-width: 130px;
		}
	</style>
</head>

<body data-ma-header="teal">
	<header id="header" class="media">
		<div class="pull-left h-logo">
			<a href="/member" class="hidden-xs"> <img src="{{assetUrl}}img/upnextlogo.png"  style="max-width: 250px; max-width: auto; margin-left: -33px; margin-top: -23px;"/> </a>
		</div>

		<!-- includes view of avatar -->
		{% include 'avatar_menu.twig' %}
	</header>

	<section id="main">
		<section id="content">
			<div class="container">
				<div class="c-header">
					<h2>Purchase Code History</h2>
				</div>

				{% if flash.message %}
				{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
				<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					{{ flash.message }}
				</div>
				{% endif %}

				<div class="card">
					<div class="card-header">
						<h3>Purchase Transactions Logs <small>lorem ipsum dolor waeetzee.</small></h3>
						<p>
							<a href="/member/purchase/activation_code">Go to Purchase Activation Code</a>
						</p>
					</div>

					<div class="card-body card-padding">
						<div class="table-responsive">
							<table id="tbl-issued-codes" class="table table-striped">
								<thead>
									<tr>
										<th data-column-id="id" data-type="numeric">ID</th>
										<th data-column-id="ref_code">Reference Code</th>
										<th data-column-id="codes_quantity">Codes Quantity</th>
										<th data-column-id="total_amount">Total Amount</th>
										<th data-column-id="btc_amount">Bitcoin Amount</th>
										<th data-column-id="payment_method">Payment Method</th>
										<th data-column-id="status">Purchase status</th>
										<th data-column-id="remarks">Remarks</th>
										<th data-column-id="commands" data-formatter="commands" data-sortable="false">Action</th>
										<th data-column-id="date_created" data-order="desc">Date Created</th>
									</tr>
								</thead>
								<tbody>
									{% for purchase_code in purchase_codes %}
									{% set payment_status = (purchase_code.status == 1) ? "Approved" : "For Approval" %}
									{% set payment_method = (purchase_code.payment_method == 1) ? "Cash" : "Bitcoin" %}
									<tr>
										<td>{{ purchase_code.id }}</td>
										<td>{{ purchase_code.reference_code }}</td>
										<td>{{ purchase_code.quantity }}</td>
										<td>₱ {{ purchase_code.total_amount | number_format(2, '.', ',') }}</td>
										<td>{{ purchase_code.btc_amount }}</td>
										<td>{{ payment_method }}</td>
										<td>{{ payment_status }}</td>
										<td>{{ purchase_code.remarks }}</td>
										<td><a href="#">View Receipt</a></td>
										<td>{{ purchase_code.created_at|date("F j, Y h:i A") }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>

		<footer id="footer">
			Copyright &copy; 2016 UpNext - Trading
		</footer>
	</section>

	<!-- Page Loader -->
	<div class="page-loader palette-Teal bg">
		<div class="preloader pl-xl pls-white">
			<svg class="pl-circular" viewBox="25 25 50 50">
				<circle class="plc-path" cx="50" cy="50" r="20"/>
			</svg>
		</div>
	</div>

	<!-- Javascript Libraries -->
	<script src="{{assetUrl}}vendors/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="{{assetUrl}}vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/Waves/dist/waves.min.js"></script>
	<script src="{{assetUrl}}vendors/bootstrap-growl/bootstrap-growl.min.js"></script>

	<script src="{{assetUrl}}vendors/bower_components/moment/min/moment.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/nouislider/distribute/jquery.nouislider.all.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
	<script src="{{assetUrl}}vendors/summernote/dist/summernote-updated.min.js"></script>

	<!-- Placeholder for IE9 -->
	<!--[if IE 9 ]>
	<script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
	<![endif]-->

	<script src="{{assetUrl}}vendors/bower_components/chosen/chosen.jquery.min.js"></script>
	<script src="{{assetUrl}}vendors/fileinput/fileinput.min.js"></script>
	<script src="{{assetUrl}}vendors/input-mask/input-mask.min.js"></script>
	<script src="{{assetUrl}}vendors/farbtastic/farbtastic.min.js"></script>

	<script src="{{assetUrl}}js/functions.js"></script>
	<script src="{{assetUrl}}js/actions.js"></script>
	<script src="{{assetUrl}}js/demo.js"></script>
	<script src="{{assetUrl}}vendors/bootgrid/jquery.bootgrid.updated.min.js"></script>
	<!-- Data Table -->
	<script type="text/javascript">
		$(document).ready(function() {
			// $("#tbl-issued-codes").bootgrid({
			// css : {
			// icon : 'zmdi icon',
			// iconColumns : 'zmdi-view-module',
			// iconDown : 'zmdi-expand-more',
			// iconRefresh : 'zmdi-refresh',
			// iconUp : 'zmdi-expand-less'
			// },
			// });
			$("#tbl-issued-codes").bootgrid({
				css : {
					icon : 'zmdi icon',
					iconColumns : 'zmdi-view-module',
					iconDown : 'zmdi-expand-more',
					iconRefresh : 'zmdi-refresh',
					iconUp : 'zmdi-expand-less'
				},
				formatters : {
					"commands" : function(column, row) {
						return "<a href='/member/purchase/issued_code/view' title='View Codes' class=\"btn btn-default btn-icon waves-effect waves-circle waves-float\" data-row-id=\"" + row.id + "\"><span class=\"zmdi zmdi-search\"></span></a> " 
							+ "<a href='/member/purchase/" + row.id + "/proofs' title='Proof of Payment' class=\"btn btn-default btn-icon waves-effect waves-circle waves-float\" data-row-id=\"" + row.id + "\"><span class=\"zmdi zmdi-apps\"></span></a>";
					}
				}
			});
		});
	</script>

	<script>
		$("[name=quantity]").change(function() {
			var totalAmount = this.value * "{{ membership_fee }}";
			$("#cash-total-amount").text("₱ " + totalAmount);
		});
	</script>

</body>
</html>