<ul class="main-menu">
	<li id="geneology">
		<a href="/member/geneology/{{user_id}}"><i class="zmdi zmdi-device-hub zmdi-hc-fw"></i> Matrix Table</a>
	</li>
	{#
	<li class="sub-menu">
		<a href="#" data-ma-action="submenu-toggle"><i class="zmdi zmdi-view-compact"></i> Headers</a>

		<ul>
			<li>
				<a href="alternative-header.html">Altenative</a>
			</li>
			<li>
				<a href="colored-header.html">Colored</a>
			</li>
		</ul>
	</li>
	#}
</ul>