{% extends 'admin/index.twig' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header module-head">
		<h1>{{ title }}</h1>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="box box-success box-solid">
			<div class="box-header">
				<h3 class="box-title"><b>COMPANY LOAD WALLET</b></h3>
			</div><!-- /.box-header -->
			<div class="box-body table-responsive">
				<h1 class="text-center"><b>{{ total_balance|number_format(2, '.', ',') }}</b></h1>
			</div><!-- /.box-body -->
		</div><!-- /.box -->

		<div class="box box-success box-solid">
			<div class="box-header">
				<h3 class="box-title"><b>NETWORK PROVIDER</b></h3>
			</div><!-- /.box-header -->
			<div class="box-body table-responsive">
				<div class="row">
					<div class="col-xs-4">
						<div class="small-box bg-sim">
							<div class="inner">
								<img src="{{assetUrl}}/images/sims/smart-logo.png" />
								<h3 class="smart">{{ smart_balance|number_format(2, '.', ',') }}</h3>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="small-box bg-sim">
							<div class="inner">
								<img src="{{assetUrl}}/images/sims/globe-logo.png" />
								<h3  class="globe">{{ globe_balance|number_format(2, '.', ',') }}</h3>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="small-box bg-sim">
							<div class="inner">
								<img src="{{assetUrl}}/images/sims/sun-logo.png" />
								<h3  class="sun">{{ sun_balance|number_format(2, '.', ',') }}</h3>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.box-body -->
		</div><!-- /.box -->

		<div class="box box-success box-solid">
			<div class="box-header">
				<h3 class="box-title"><b>NETWORK TRANSACTIONS</b></h3>
			</div><!-- /.box-header -->
			<div class="box-body table-responsive">
				<table id="table-reentry-codes" class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th>Network Provider</th>
							<th>Amount Transfered</th>
							<th>Date Transferred</th>
						</tr>
					</thead>
					<tbody>
						{% for load in load_transfers %}
						<tr>
							<td>{{ load.network }}</td>
							<td>{{ load.amount|number_format(2, '.', ',') }}</td>
							<td>{{ load.created_at }}</td>
						</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<th>Network Provider</th>
							<th>Amount Transfered</th>
							<th>Date Transferred</th>
						</tr>
					</tfoot>
				</table>
			</div><!-- /.box-body -->
		</div><!-- /.box -->
	</section><!-- /.content -->

	<script>
		$(document).ready(function() {
			var smart = $('.smart').text();
			var globe = $('.globe').text();
			var sun = $('.sun').text();

			if (smart <= 5000.00) {
				$('.smart').css("color", "red");
			}

			if (globe <= 5000.00) {
				$('.globe').css("color", "red");
			}

			if (sun <= 5000.00) {
				$('.sun').css("color", "red");
			}
		});
	</script>

	{% endblock %}
