<ul class="main-menu">
	<li class="sub-menu" id="codes_management">
		<a href="#" data-ma-action="submenu-toggle"><i class="zmdi zmdi-settings zmdi-hc-fw"></i> Codes Management</a>
		<ul>
			<li id="sub_used_unused_codes">
				<a href="/admin/codes">Used/Unused Codes</a>
			</li>
			<li id="sub_purchase_codes">
				<a href="/admin/codes/purchase/request">Purchase Codes Request</a>
			</li>
		</ul>
	</li>
</ul>